[global_config]
  handle_size = 4
  scroll_tabbar = True
  inactive_color_offset = 1.0
  ask_before_closing = always
[keybindings]
  new_tab = <Primary><Alt>t
  go_up = <Primary><Alt>Up
  go_down = <Primary><Alt>Down
  go_left = <Primary><Alt>Left
  go_right = <Primary><Alt>Right
  split_horiz = <Primary><Alt>h
  split_vert = <Primary><Alt>v
  resize_up = ""
  resize_down = ""
  resize_left = ""
  resize_right = ""
  toggle_zoom = <Primary><Alt>f
  next_tab = <Primary>Right
  prev_tab = <Primary>Left
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
  switch_to_tab_10 = <Alt>0
  group_all_toggle = <Shift><Super>g
  new_window = <Primary><Alt>n
  edit_window_title = <Primary><Shift>F1
  edit_tab_title = F2
  edit_terminal_title = <Primary><Shift>F3
[profiles]
  [[default]]
    background_darkness = 0.81
    font = DejaVu Sans Mono 11
    foreground_color = "#ffffff"
    scrollback_lines = 50000
    scrollback_infinite = True
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    use_system_font = False
    bold_is_bright = True
    copy_on_selection = True
  [[Black-on-White]]
    background_color = "#ffffff"
    font = DejaVu Sans Mono 11
    foreground_color = "#000000"
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
  [[Green-on-Black]]
    font = DejaVu Sans Mono 11
    foreground_color = "#00ff00"
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
  [[White-on-Black]]
    font = DejaVu Sans Mono 11
    foreground_color = "#ffffff"
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
  [[White-on-Gray]]
    background_color = "#2e3436"
    font = DejaVu Sans Mono 11
    foreground_color = "#ffffff"
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
  [[Cisco]]
    background_color = "#1d1d1d"
    foreground_color = "#73d216"
    scrollback_infinite = True
  [[Fancy]]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
